{% extends "layout.twig" %}

{% block content %}
<h1>InventoryControl</h1>
<ul>
    <li><a href="/Invent/begin" >Inicio</a></li>
    <li><a href="/Invent/purchases" >Compra</a></li>
    <li><a href="/Invent/products" >Productos</a></li>
    <li><a href="/Invent/billing" >Facturación</a></li>
    <li><a href="/Invent/reports" >Reportes</a></li>
    <li><a href="/Invent/configuration" >Configuración</a></li>
    <li><a href="/Invent/access" >Accesos</a></li>


</ul>
<br><br>
    <a href="/Invent/logout" >Logout</a>
{% endblock %}